<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ modalText }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form">
        <ion-item>
            <ion-label position="stacked">Date</ion-label>
            <ion-datetime placeholder="Select Date" formControlName="date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-select formControlName="receiptType">
                <ion-select-option *ngFor="let type of receiptTypes" class="{{ 'inventory-color-' + type.color }}"
                    [value]="type">{{ type.name }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Costs</ion-label>
            <ion-input type="number" formControlName="costs"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Receipt url to image</ion-label>
            <ion-input formControlName="receiptUrl"></ion-input>
        </ion-item>
    </form>
</ion-content>
<ion-footer>
    <ion-button (click)="add()" color="success">Add</ion-button>
    <ion-button (click)="dismiss()" fill="outline" color="danger">Dismiss</ion-button>
</ion-footer>